.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: solid darkblue;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#turnLabel {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 15px;
}